
<div class="description row mt-3">
    <div class="card col border-0">
        <div class="cardimage" style="width: 22rem;">
            <img src="{{mealDescription.strMealThumb}}" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text"><strong>{{mealDescription.strMeal}}</strong></p>
            </div>
        </div>
    </div>

    <div class="instruction col">
      <tr>
        <td></td><td><iframe width="560" height="315" [src]='safeUrl' frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><td>
        <td>

    </div>
</div>

<div class="youTube text-center" >
  <h3>Instructions</h3>
    <p>{{mealDescription.strInstructions}}</p>
</div>


