
<div class="description row mt-3">
    <div class="col">
        <div class="card" style="width: 30rem;">
            <img src="{{mealDescription.strMealThumb}}" class="card-img-top" alt="...">
            <!-- <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div> -->
        </div>
    </div>
    

  <div class="row col row-cols-2 row-cols-md-3 px-5 ">
    <div class="card col mt-2" style="width: 10rem;">
        <img src="{{mealDescription.strIngredient1}}" class="card-img-top" alt="...">
        <!-- <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div> -->
      </div>

      <div class="card col mt-2" style="width: 10rem;">
        <img src="{{mealDescription.strIngredient2}}" class="card-img-top" alt="...">
        <!-- <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div> -->
      </div>

      <div class="card col mt-2" style="width: 10rem;">
        <img src="{{mealDescription.strIngredient3}}" class="card-img-top" alt="...">
        <!-- <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div> -->
      </div>

      <div class="card col mt-2" style="width: 10rem;">
        <img src="{{mealDescription.strIngredient3}}" class="card-img-top" alt="...">
        <!-- <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div> -->
      </div>

      <div class="card col mt-2" style="width: 10rem;">
        <img src="{{mealDescription.strIngredient4}}" class="card-img-top" alt="...">
        <!-- <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div> -->
      </div>
  </div>

  <div class="instruction text-center mt-3 fst-italic">
      <h3>Instructions</h3>
      <p>{{mealDescription.strInstructions}}</p>
  </div>

</div>

