
<div class="description  mt-3">
    <div class="card">
        <div class="cardimage" style="width: 22rem;">
            <img src="{{mealDescription.strMealThumb}}" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">{{mealDescription.strMeal}}</p>
            </div>
        </div>
    </div>

</div>

<div class="youTube text-center" >
  <h3>Instructions</h3>
    <p>{{mealDescription.strInstructions}}</p>
</div>

<div class="instruction border">

  <tr>
    <td>{{mealDescription.strMeal}}</td><td><iframe width="560" height="315" [src]='safeUrl' frameborder="0" allowfullscreen></iframe><td>
    <td>
  <!-- <iframe width="560" height="315" src="{{mealDescription.strYoutube}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  
</div>
