<div class="menu mt-2">

    <!-- <div class="row">

        <div class="col-12 col-md-4 ">
            <form class="d-flex" [formGroup]="formSearch">
                <input class="form-control me-2" formControlName="searchInput" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" (click)="searchTitle()" type="submit">Search</button>
            </form>
        </div>
        

        <div class="col d-flex justify-content-around">
            <p class="list mt-2 px-3 fw-light"> All Meal</p>
            <p class="list mt-2 px-3 fw-light"> Chicken</p>
            <p class="list mt-2 px-3 fw-light"> Beef</p>
            <p class="list mt-2 px-3 fw-light"> Fish</p>
            <p class="list mt-2 px-3 fw-light"> Pizza</p>
            
        </div>
    </div> -->

    <div class="row row-cols-1 row-cols-md-5  justify-content-start">
        <div class="col">
            <app-food-item></app-food-item>
        </div>

        <div class="col">
            <app-food-item></app-food-item>
        </div>

        <div class="col">
            <app-food-item></app-food-item>
        </div>

        <div class="col">
            <app-food-item></app-food-item>
        </div>

        <div class="col">
            <app-food-item></app-food-item>
        </div>

        <div class="col">
            <app-food-item></app-food-item>
        </div>

        <div class="col">
            <app-food-item></app-food-item>
        </div>

        <div class="col">
            <app-food-item></app-food-item>
        </div>

        <div class="col">
            <app-food-item></app-food-item>
        </div>

        <div class="col">
            <app-food-item></app-food-item>
        </div>
    </div>
    

</div>
